{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for("static", filename="charts.css") }}">
{% endblock %}

{% block page_content %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <div class="whole-page">
    <header>
        <img alt="" src="https://4trackfriday.com/logo" width="200"/>
        <h1>
            4 Track Friday<br/>
            <span>In Review</span>
        </h1>
    </header>
    <div class="tab">
        {% for key in metrics.keys() %}
            {% if key == "loudness" %}
                <button class="tablinks" onclick="openStat(event, '{{ key }}')" id="defaultOpen">{{ key | title }}</button>
            {% else %}
                <button class="tablinks" onclick="openStat(event, '{{ key }}')">{{ key | title }}</button>
            {% endif %}
        {% endfor %}
    </div>
    {% for k,v in metrics.items() %}
        {% if k == 'popularity' %}
            {% set dist = [metrics['popularity']['min']['popularity'], metrics[k]['avg'], metrics['popularity']['max']['popularity']] %}
        {% else %}
            {% set dist = [metrics[k]['min']['features'][k], metrics[k]['avg'], metrics[k]['max']['features'][k]] %}
        {% endif %}
        {% set min_pic = metrics[k]['min']['album']['images'][1]['url'] %}
        {% set max_pic = metrics[k]['max']['album']['images'][1]['url'] %}
        {% set min_name = metrics[k]['min']['name'] %}
        {% set max_name = metrics[k]['max']['name'] %}
        {% set min_artist = metrics[k]['min']['artists'][0]['name'] %}
        {% set max_artist = metrics[k]['max']['artists'][0]['name'] %}
        {% set min_track_url = metrics[k]['min']['external_urls']['spotify'] %}
        {% set max_track_url = metrics[k]['max']['external_urls']['spotify'] %}
        <div id="{{ k }}" class="tabcontent">
            <div style="display: flex; justify-content: space-between;">
                <div style="margin-right: 20px;">
                    <a target="_blank" href="{{ min_track_url }}">
                        <img class="img-responsive" src="{{ min_pic }}" alt=""/>
                    </a>
                    <p style="text-align: left">
                        {{ min_name }}<br/>
                        {{ min_artist }}
                    </p>
                </div>
                <div style="float: right; margin-left: 20px;">
                    <a target="_blank" href="{{ max_track_url }}">
                        <img class="img-responsive" src="{{ max_pic }}" alt=""/>
                    </a>
                    <p style="text-align: right">
                        {{ max_name }}<br/>
                        {{ max_artist }}
                    </p>
                </div>
            </div>
{#            TODO fix labels https://www.chartjs.org/docs/latest/axes/labelling.html #}
            <div class="chart-container" style="height:400px; width:100%">
                <canvas id="{{ k }}_canvas"></canvas>
                <script>
                    var ctx = document.getElementById("{{ k }}_canvas").getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: ['{{ min_name }}', 'Average', '{{ max_name }}'],
                            datasets: [{
                                label: '{{ k }} score',
                                data: {{ dist }},
                                backgroundColor: [
                                    'rgba(178, 0, 253, 0.2)',
                                    'rgba(220, 220, 220, 0.2)',
                                    'rgba(255, 206, 86, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(178, 0, 253, 1)',
                                    'rgba(220, 220, 220, 1)',
                                    'rgba(255, 206, 86, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            responsive: true,
                            maintainAspectRatio: false,
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                </script>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function openStat(evt, statName) {
            let i, tabcontent, tablinks;

            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            document.getElementById(statName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
    <script>
        document.getElementById("defaultOpen").click();
    </script>
{% endblock %}